.CompleteItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-top: 1px solid #d5d5d5;
}

.CompleteItem .content {
    flex: 1;
}

.CompleteItem .date {
    font-size: 14px;
    color: gray;
}

.CompleteItem button {
    cursor: pointer;
    color: gray;
    font-size: 12px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}