.profile-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #E0E0E0;

    max-width: calc(100% - 20px);
    box-sizing: border-box;
}

.profile-picture {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info p {
    margin: 0;
    line-height: 1.2;
}

.profile-info p:first-child {
    font-weight: 400;
    font-size: 18px;
    color: #333;
    margin-bottom: 3px;
}

.profile-info p:last-child {
    font-size: 14px;
    color: #333;

}

.Profile h2 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #367AFE;
    margin-left: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
}
.button-container button {
    background-color: white;
    border: 0 solid #367AFE;
    border-bottom: 2px solid #E0E0E0;
    margin: 0 10px;
    padding: 20px 0;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}

