.TodoItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    /*border-bottom: 1px solid #d5d5d5;*/
    background-color: white;
}

.TodoItem input[type="checkbox"] {
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    margin-top: 2px;
    color: gray;
    accent-color: #367AFE;
}


.TodoItem .content {
    flex: 1;
}

.TodoItem .date {
    font-size: 14px;
    /*color: gray;*/
}

.TodoItem button {
    margin: 0;
    cursor: pointer;
    color: #999999;
    font-size: 15px;
    border: none;
    width: 25px;   /* 버튼의 너비를 고정 */
    height: 25px;  /* 버튼의 높이를 너비와 동일하게 고정 */
    border-radius: 50%; /* <--- 이 속성이 버튼을 완벽한 원으로 만듭니다! */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    background-color: #F0F0F0;
}

.content_true {
    color: gray;
}

.content_input {
    flex: 1;
    padding: 2px;
    font-size: 15px;
    box-sizing: border-box;
}