body {
    font-family: Pretendard, sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

@media (min-width: 700px) {
    body {
        max-width: 700px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
}